<div class="property-main-photo" style="background-image:url(' <%= (property_photo_url @property) %>')">
  <div class="photo-overlay">
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-sm-8">
      <div class="row">
      <div class="col-lg-6">
        <p class="mb-8"><%= @property.address %></p>
        <p class="h2"><%= @property.price > 0 ? number_to_currency(@property.price, precision: 0) : "For Sale"%></p>
      </div>

      <div class="col-lg-6 text-center">
        <div class="row mr-lg-3 mt-sm-3 bg-light p-3">
          <div class="col-sm-4">
            <p class="m-8"><strong>Rooms</strong></p>
            <span class="lead"><%= @property.rooms %></span>
          </div>
          <div class="col-sm-4">
            <p class="m-8"><strong>Bathrooms</strong></p>
            <span class="lead"><%= @property.bathrooms %></span>
          </div>
          <div class="col-sm-4">
            <p class="m-8"><strong>Parking</strong></p>
            <i class="fas fa-car"></i>
            <span class="lead"><%= @property.parking_spaces %></span>
          </div>
        </div> 
      </div>
  </div>

  <div class="row border-top border-bottom mt-2 mb-2 pt-4 pb-4">
    <div class="col-sm-6">
      <strong><%= link_to "Est. Monthly Repayments of  #{ number_to_currency((@property.price - (@property.price * 0.1)) / 360, precision: 0) } *", "#", class: "text-success" %> </strong>
    </div>
    <div class="col-sm-6 text-right">
      <strong><%= link_to "Can I afford this property", "#", class: "text-success" %> </strong>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p class="h3">Property Description</p>
        <p class="h5"><%= @property.name %></p>

        <div id="prop-details" class="">
          <%= simple_format @property.details %>
        </div>

        <button class="btn btn-outline-success mt-3" id="toggleDetails">Read more</button>

        <div>
          <p class="mt-5">* This rate is based on a 30 year mortage, after paying an initial 10% down payment. Shorter term mortages would require a higher monthly repayment.</p>
        </div>

      </div>
    </div>
  </div>
 <div class="col-sm-4">
    <%= render "properties/agent_details"%>
  </div>
</div>

<section class="mt-5 mb-5">
  <div class="container">
    <div class="row">
      <%= render "properties/list", properties: @agent_properties %>
    </div>
  </div>
</section>